body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#game {
    margin: 50px auto;
    width: 350px;
}

#gameInfo {
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}

#cardsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card, #targetCard {
    width: 100px;
    height: 100px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

#cardDescription {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

#status {
    margin-top: 20px;
    font-size: 18px;
}

#restartBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
